body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    height: 32px;
}

.logo {
    float: left;
}

nav {
    float: right;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: white;
}

main {
    padding: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.keyart {
    width: 100%;
    display: block;
    margin: 0 auto;
}

footer {
    background-color: #333;
    color: white;
    padding: 50px;
    text-align: center;
    height: 32px;
}